body{
  background-color: hsl(218, 28%, 13%);
  align-items: center;
}
.navbar-brand{
  height:40px;
}
.navlink-color{
  color: white;
}

/*top section*/
.btn-top{
  padding: 1% 5%;
  background: linear-gradient( 90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%) ) ;
  border-radius: 25px;
  color:  hsl(0, 0%, 100%);
}
.text-color{
  color: hsl(0, 0%, 100%);
}
 .container{
align-items: center;
  text-align: center;
}
.title-weight{
  font-weight: 700;
}
/*features section*/
.container{
  margin: 40px auto 80px auto;
}
/*middle section*/

.link-middle {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.5rem;
  text-decoration: underline;
  color: hsl(170, 45%, 43%);
}

.productive-im{
  margin-left: -60px;
}
.testimonial-card{

  background-color: hsl(219, 30%, 18%);

}
.testimonial-cont{
  padding: 5%;

}
.testimonial-im{
  width: 60px;
  border-radius: 30px;
}

/*cta section*/
.form-rounded{
  border-radius: 2rem;
  align-items: stretch;
}
.cta-card{
  background-color: hsl(217, 28%, 15%);
  padding: 5%;
}
#cta{
  margin: auto 15%;
}
.cta-cont{
  padding: 5% 10%;
}
/*bottom section*/
#bottom, #footer{
  background-color: hsl(216, 53%, 9%);
}
.fas-footer{
  color: white;
}
.bottom-cont{
  padding: 5%;
  margin: auto 2%;
}
.text-size{
  font-size: 14px;
}
.footer-col{

  padding: 2%;
}
